.root{
    -fx-background-color: "black";
}

.label {
    -fx-font-size: 22;
    -fx-font-family: "Lucida Consol";
    -fx-text-fill: "White";

    //makingcenter
    -//
    -fx-font-size: 60;
}

//https://youtu.be/o-lAsVuskKI?list=PLZPZq0r_RZOM-8vJA3NQFZB7JroDcMwev&t=459

#titlelabel{
    -fx-font-size: 10;
}
